body {
    background-color: aquamarine;
}
h1 {
    text-align: center;
}
#outer-box {
    background-color: #3e8e41;
    /*height: 250px;*/
    padding: 30px;
}

#inner-box {
    height: calc(100% - 96px);
    background-color: lightblue;
    /*margin: 15px;*/
    padding: 25px 25px;
    border: 15px solid black;
}
#section-two, #section-three, #section-four, #section-five {
    padding: 1em;
    border: solid white 5px;
    }
#section-two, #section-four {
    background-color: goldenrod;
    text-align: justify;
}

#section-three, #section-five {
    background-color: navy;
    color: white;
}
