#container {
    margin: 50px auto;
    width: 500px;
    height: auto;
    padding: 2em;
    border: 1px solid #000;
}

.box1 {
    background-color: #77AF00;
    height: 100px;
    width: 100px;
    float: left;
}

.box2 {
    background-color: #1969B2;
    height: 150px;
    width: 150px;
    float: right;
}